.page {
	width: 100vw;
	height: 100%;
}
.li {
	padding: 20px 0;
}
.li_label {
	min-width: 60px;
	flex-basis: 60px;
	text-align: left;
}
.queryView {
	margin-top: 20vh;
}
.tool {
	margin-top: 10px;
}
.tool_li {
	color: #40a9ff;
}
