.page {
	width: 100vw;
	height: 100vh;
	background: #f6f6f6;
}
.queryForm,
.tipsContainer {
	width: 100%;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
}
.li {
	padding: 20px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.queryView {
	margin-top: 40px;
}
